<template>
  <div class="nav pl-5 pr-5 bg-primary">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="/users">Utilisateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/votes">Votes</a>
      </li>
      <li class="nav-item float-right">
        <a class="nav-link text-white" style="cursor: pointer" @click="logout">Déconnexion</a>
      </li>
    </ul>
  </div>
</template>

<script>
import store from "../../vuex/store";

export default {
  name: "HomeHeader",
  methods: {
    logout: () => {
      store.dispatch("logout");
    }
  }
};
</script>

<style>
</style>