<template>
  <div class="p-5">
    <a class="btn btn-primary mb-3 float-right" href="/votes/create">Ajouter un vote</a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Description</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Vote pour</th>
          <th scope="col">Vote contre</th>
          <th scope="col">Détail</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="vote in votes" v-bind:key="vote.id">
          <th scope="row">{{vote.id}}</th>
          <td>{{vote.title}}</td>
          <td>{{vote.description}}</td>
          <td>{{vote.startDate}}</td>
          <td>{{vote.endDate}}</td>
          <td>{{votesForCount(vote)}}</td>
          <td>{{votesAgainstCount(vote)}}</td>
          <td>
            <a :href="'/votes/' + vote.id">Détail</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "VoteList",
  data: () => {
    return {
      votes: []
    };
  },
  mounted() {
    axios.get("http://localhost:1337/vote").then(res => {
      this.votes = res.data;
    });
  },
  computed: {},
  methods: {
    votesForCount: vote => {
      if (vote.votePour.ids) {
        return vote.votePour.ids.length > 0 ? vote.votePour.ids.length : 0;
      } else {
        return 0;
      }
    },
    votesAgainstCount: vote => {
      if (vote.voteContre.ids) {
        return vote.voteContre.ids.length > 0 ? vote.voteContre.ids.length : 0;
      } else {
        return 0;
      }
    }
  }
};
</script>

<style>
</style>