<template>
  <div>
    <Form
      :initial-values="{ email: '', color: 'red', firstName: '', password: 'Oui' }"
      @onSubmit="handleSubmit"
    >
      <form>
        <Field
          component="Input"
          label="Titre"
          type="text"
          name="title"
          placeholder="titre"
          id="title"
        />
        <Field
          component="Input"
          label="Description"
          type="text"
          name="description"
          id="description"
        />
        <Field component="Input" label="Date de début" type="text" name="startDate" id="startDate" />
        <Field component="Input" label="Date de fin" type="text" name="endDate" id="endDate" />

        <input type="submit" value="submit" />
      </form>
    </Form>
  </div>
</template>

<script>
import Form from "../forms/Form";
import Field from "../forms/Field";

export default {
  name: "VoteForm",
  components: {
    Form,
    Field
  },
  mounted: function() {},
  methods: {
    handleSubmit: function({ values, event }) {
      event.preventDefault();

      this.$store.dispatch("addVote", values);
      this.$router.push({ name: "VoteList" });
    }
  }
};
</script>

<style>
</style>