<template>
  <div class="p-5">
    <h2>{{vote.title}}</h2>

    <p>
      <b>Description :</b>
      {{vote.description}}
    </p>

    <span>
      Du
      <b>{{vote.startDate}}</b> au
      <b>{{vote.endDate}}</b>
    </span>

    <p class="pt-3">
      Nombre de votes pour : {{votesForCount(vote)}}
      <button
        v-show="hasVotedAgainst(vote)"
        @click="voteFor"
        class="pl-2 btn btn-primary"
      >Voter pour</button>
    </p>

    <p>
      Nombre de votes contre : {{votesAgainstCount(vote)}}
      <button
        v-show="hasVotedFor(vote)"
        @click="voteAgainst"
        class="pl-2 btn btn-danger"
      >Voter contre</button>
    </p>
  </div>
</template>

<script>
import axios from "axios";
import store from "../../vuex/store";

export default {
  name: "VoteDetail",
  data: () => {
    return {
      vote: {}
    };
  },
  mounted() {
    axios
      .get("http://localhost:1337/vote/" + this.$route.params.id)
      .then(res => {
        this.vote = res.data;
      });
  },
  computed: {},
  methods: {
    votesForCount: vote => {
      if (vote.votePour.ids) {
        return vote.votePour.ids.length > 0 ? vote.votePour.ids.length : 0;
      } else {
        return 0;
      }
    },
    votesAgainstCount: vote => {
      if (vote.voteContre.ids) {
        return vote.voteContre.ids.length > 0 ? vote.voteContre.ids.length : 0;
      } else {
        return 0;
      }
    },
    hasVotedFor: vote => {
      if (vote.votePour.ids) {
        return (
          vote.votePour.ids.filter(id => {
            return store.getters.connectedUserId == id;
          }).length > 0
        );
      } else {
        return false;
      }
    },
    hasVotedAgainst: vote => {
      if (vote.voteContre.ids) {
        return (
          vote.voteContre.ids.filter(id => {
            return store.getters.connectedUserId == id;
          }).length > 0
        );
      } else {
        return false;
      }
    },
    voteFor: function() {
      axios
        .put("http://localhost:1337/vote/" + this.$route.params.id, {
          votePour: { ids: [store.getters.connectedUserId] },
          voteContre: {}
        })
        .then(res => {
          this.vote = res.data;
        });
    },
    voteAgainst: function() {
      axios
        .put("http://localhost:1337/vote/" + this.$route.params.id, {
          voteContre: { ids: [store.getters.connectedUserId] },
          votePour: {}
        })
        .then(res => {
          this.vote = res.data;
        });
    }
  }
};
</script>

<style>
</style>