<template>
  <div class="home p-5">
    <h2>Bienvenue {{user.firstName}}</h2>

    <p>Voici vos votes créés :</p>

    <div class="card" v-for="vote in votes" v-bind:key="vote.id">
      <div class="card-body">
        <h3>
          {{vote.title}}
          <span>
            <a :href="'/votes/' + vote.id">Détail</a>
          </span>
        </h3>

        <p>{{vote.description}}</p>

        <p>Du {{ vote.startDate }} au {{ vote.endDate }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  data: () => {
    return {
      user: {},
      votes: []
    };
  },
  mounted: function() {
    console.log(this.$store.getters.authToken);
    axios
      .get("http://localhost:1337/user/" + this.$store.getters.connectedUserId)
      .then(res => {
        this.user = res.data;
      });
    axios.get("http://localhost:1337/vote").then(res => {
      this.votes = res.data;
    });
  }
};
</script>
<style>
</style>