<template>
  <div class="login d-flex align-items-center justify-content-center pt-5">
    <Form @onSubmit="handleSubmit">
      <form>
        <Field
          class="pb-2"
          component="Input"
          label="Email"
          type="text"
          name="email"
          placeholder="email"
          id="email"
        />
        <Field
          component="Input"
          label="Mot de passe"
          type="password"
          name="password"
          id="password"
        />

        <input type="submit" value="Connexion" class="btn btn-primary mt-3 w-100" />
        <a href="/register">Inscription</a>
      </form>
    </Form>
  </div>
</template>

<script>
import Form from "./forms/Form";
import Field from "./forms/Field";

export default {
  name: "Login",
  components: {
    Form,
    Field
  },
  mounted: function() {},
  methods: {
    handleSubmit: function({ values, event }) {
      event.preventDefault();
      this.$store.dispatch("login", values);
    }
  }
};
</script>
<style>
</style>