<template>
  <div class="register d-flex align-items-center justify-content-center pt-5">
    <Form
      :initial-values="{ email: '', color: 'red', firstName: '', password: 'Oui' }"
      @onSubmit="handleSubmit"
    >
      <form>
        <Field
          class="pt-2"
          component="Input"
          label="Email"
          type="text"
          name="email"
          placeholder="email"
          id="email"
        />
        <Field
          class="pt-2"
          component="Input"
          label="Mot de passe"
          type="password"
          name="password"
          id="password"
        />
        <Field
          class="pt-2"
          component="Input"
          label="Prénom"
          type="text"
          name="firstName"
          id="firstName"
        />
        <Field
          class="pt-2"
          component="Input"
          label="Nom"
          type="text"
          name="lastName"
          id="lastName"
        />
        <Field
          class="pt-2"
          component="Input"
          label="Date de naissance"
          type="text"
          name="dateOfBirth"
          id="dateOfBirth"
        />

        <input type="submit" value="Inscription" class="btn btn-primary mt-3 w-100" />
        <a href="/login">Connexion</a>
      </form>
    </Form>
  </div>
</template>

<script>
import Form from "./forms/Form";
import Field from "./forms/Field";

export default {
  name: "Register",
  components: {
    Form,
    Field
  },
  methods: {
    handleSubmit: function({ values, event }) {
      event.preventDefault();
      console.log("here", values);
      this.$store.commit("addUser", values);
      this.$router.push({ name: "Login" });
    }
  }
};
</script>
<style>
</style>