<template>
  <div class="h-100 d-flex flex-column">
    <label class="label" v-if="label">{{label}}</label>
    <component class="form-control" v-bind:is="component" v-bind="$props" @input="handleInput"></component>
  </div>
</template>

<script>
export default {
  name: "Field",
  props: {
    name: String,
    label: String,
    type: String,
    id: String,
    required: Boolean,
    checked: Boolean,
    component: String
  },
  inject: ["setFormValue", "getFormInitialValue"],
  methods: {
    handleInput(e) {
      this.setFormValue(this.id, e.target.value);
    }
  },
  created() {
    this.value = this.getFormInitialValue(this.id);
    this.setFormValue(this.id, this.value);
  }
};
</script>

<style>
</style>