<template>
  <div>
    <input class="form-control" v-bind="$props" :value="value" />
  </div>
</template>

<script>
export default {
  name: "Input",
  data() {
    return {
      value: ""
    };
  },
  props: {
    name: String,
    type: String,
    id: String,
    required: Boolean,
    disabled: Boolean,
    checked: Boolean
  }
};
</script>

<style scoped>
</style>